---
import { Cloudinary } from 'astro-cloudinary-image';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Cloudinary 
			width="800"
			height="400"
			resize="fill"
			gravity="face"
			cornerRadius={5}
			alt="A sample image"
			src="1_cc-resize_e5ch4j" 
			errorImage="NotFound.svg"
		/>
        <Cloudinary 
			width="800"
			height="400"
			resize="fill"
			gravity="face"
			cornerRadius={5}
			alt="A sample image"
			src="3_cc-resize_ohjiar" 
			errorImage="NotFound.svg"
		/>
	</body>
</html>
